@import "../../scss/_settings";
@import "../../scss/_functions";

//this is exact copy of navmenu.scss, they shouldn't be duplicated, fix with shared class or import, figure that out

.signin {
    font-family: font(primary);
}
  
.signin ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.signin li {
    margin: 0 0.5rem;
}
  
.signin a {
    text-decoration: none;
    color: white;
}

.signin a:hover,
.signin a:active {
//    text-decoration: underline;
    color: darken(color(secondary),10%);
}
