@import "./skillSearch";
@import "./techtag";

.skill-container {
  padding: 0 1em;

  h2 {
    margin: 10px 0 20px;
    text-align: center;
  }

  form {
    background: #ddd;
    color: #212529;
    border: 1px solid black;
    padding: 0.5em 0 1em;

    .form-group {
      margin-bottom: 0.5em;
    }
  }
}

ul.tab-list {
  margin: 0;
  padding-inline-start: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;

  li {
    list-style: none;
    flex-grow: 1;
    margin: 4px 0 0;
    padding: 8px 0px 0;
    border: 1px solid black;
    border-bottom: 0;
    cursor: pointer;
    height: 33px;
    margin-bottom: -1px;
    text-align: center;
  }

  li.active-tab {
    background: #ddd;
    border-bottom: none;
    cursor: default;
    height: 36px;
    z-index: 20;
  }
}

.fs-main {
  justify-content: center;

  section.skill-setup {
    flex-grow: 2;
    max-width: 810px;

    div[class^="col-"] {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  section.skill-search {
    flex-grow: 1;
    max-width: 320px;
  }

  @media (max-width: 960px) {
    flex-direction: column;

    section.skill-search,
    section.skill-setup {
      width: 100%;
      margin: auto;
    }
    section.skill-search {
      margin: 2rem auto;
    }
  }
}

.fs-btn-container {
  button {
    margin: 0 1em;
  }
}

section.skill-setup {
  @include lg-form(15px);

  label.col-form-label {
    text-align: right;
  }

  textarea {
    resize: none;
    overflow: auto;
  }

  .skill-related-section {
    margin: 0 0 24px;

    div.row {
      margin: 8px;
    }
    h2 {
      margin-bottom: 4px;
    }

    h2 + p {
      text-align: center;
      padding-top: 0;
      margin-bottom: 20px;
    }
    .related-list {
      padding: 1em 1em 3em;
      margin-top: 0;
      border: 1px solid #888;
    }

    .related-row {
      margin: 0;

      input {
        margin: 0 4px;
      }
    }
  }
}

.fs-btn-container {
  margin: 20px 0 0 0;
}
