.register-container {
	width: 90%;
	margin: auto;
	padding: 2em;
	display: flex;

	h4 {
		color: black;
		margin: 1em 0 3em 0;
	}

	.horiz-divider {
		display: none;
	}
}

.register-section {
	flex-grow: 1;
	flex-basis: 45%;
	text-align: center;
	margin-bottom: 3em;
}

.register-msg {
	display: flex;
	justify-content: center;
	margin-bottom: 2em;

	span,
	a {
		margin: 0 8px;
		padding: 8px 0;
	}
}

.vert-divider {
	width: 2px;
	margin: 20px 8px 0;
	background: blue;
}

.horiz-divider {
	height: 2px;
	margin: 8px 20px;
	background: blue;
}

.social-register {
	.github-button {
		background-color: white;
		align-items: center;
		color: rgba(0, 0, 0, 0.54);
		box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px,
			rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
		padding: 0;
		border-radius: 2px;
		border: 1px solid transparent;
		font-size: 14px;
		font-weight: 500;
		font-family: Roboto, sans-serif;
		height: 42.9px;
		width: 190px;
		margin-bottom: 2.5em;

		svg {
			font-size: 16px;
		}
	}
}

.email-register-form {
	padding-left: 36px;

	input {
		max-width: 300px;
	}

	.form-err {
		text-align: left;
		margin: -0.5em 0 0 2em;
	}
}

.email-register {
	button {
		margin: 2em 0 0;
	}
}

.register-error {
	color: red;
	font-weight: 500;
	text-align: center;
	width: 60%;
	margin: 2em auto 0;
	padding: 0.5em 1em;
	border: 2px inset red;
}

@media screen and (max-width: 960px) {
	.register-container {
		flex-direction: column;

		.vert-divider {
			display: none;
		}

		.horiz-divider {
			display: block;
		}
	}
}
