@import "_tsd.scss";

.candidate-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personal-info {
  margin: 1em 0;
  border-radius: 8px;
  background: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;

  .pi-content {
    display: flex;
    flex-grow: 1;

    & > div {
      padding: 1em;
    }
  }
}

.candidate-img {
  width: 120px;
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: 1em;
}

.pi-footer {
  height: 30px;
}

.profile-section-header {
  height: 50px;

  h2 {
    display: inline;
    margin: 0 1em 1em 0;
  }
}

#pi-divider {
  background: black;
}

.comp-graph-container {
  margin: 2em 0;
}
