@import "../../../scss/mixins";

section.skill-search {
  background: #888;
  color: #212529;
  min-width: 312px;
  max-height: 585px;

  @include lg-form(14px);
  @include div-select(14px);

  .div-select-container {
    transition-property: height;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }

  #skill-search-row input {
    display: inline-block;
    width: 85%;
  }

  button.btn.btn-search {
    padding: 0.375em 0.6em;
  }

  .search-skills-buttons button {
    margin: 0 12px;
  }
}
