@import "../../scss/_settings";
@import "../../scss/_functions";

//this is exact copy of signin.scss, they shouldn't be duplicated, fix with shared class or import, figure that out

.navbar {
    font-family: font(primary);
}
  
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.navbar li {
    margin: 0 0.5rem;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover,
.navbar a:active {
//    text-decoration: underline;
    color: darken(color(secondary),10%);
}
