// mixins
@mixin lg-form($em-size: 16px) {
  font-size: $em-size;

  // need to change rem to em so that the
  // container styling is more modular
  h1 {
    font-size: 2.2em;
    text-align: center;
  }

  h2 {
    font-size: 1.8em;
    text-align: center;
  }

  form,
  div,
  label,
  input,
  button,
  select,
  p {
    font-size: 1em;
    line-height: 1.4;
  }

  input[type="checkbox"] {
    position: relative;
    margin: 0 1em;
    height: 20px;
    width: 20px;
  }

  label,
  p {
    margin: 0;
    padding: calc(0.375rem + 1px) 0;
  }

  option {
    font-size: 0.96em;
    line-height: 1.45;
    padding-bottom: 2px;
  }

  option {
    overflow-x: hidden;
  }

  input,
  select {
    padding: 0.2em 0.4em;
    height: auto;
  }
}

@mixin div-select($em-size: 16px) {
  // this will mimic a select/option list so that
  // draggable div lists can be used

  .div-select-container {
    font-size: $em-size;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
    -webkit-transition: border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 0.2em 0.4em;
    overflow-x: hidden;
    overflow-y: scroll;

    .div-select {
      padding: 2px;
    }

    .div-select.selected {
      background-color: #007bff;
      color: white;
    }
  }
}

.skill-container {
  padding: 0 1em;

  h2 {
    margin: 10px 0 20px;
    text-align: center;
  }

  form {
    background: #ddd;
    color: #212529;
    border: 1px solid black;
    padding: 0.5em 0 1em;

    .form-group {
      margin-bottom: 0.5em;
    }
  }
}

ul.tab-list {
  margin: 0;
  padding-inline-start: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;

  li {
    list-style: none;
    flex-grow: 1;
    margin: 4px 0 0;
    padding: 8px 0px 0;
    border: 1px solid black;
    border-bottom: 0;
    cursor: pointer;
    height: 33px;
    margin-bottom: -1px;
    text-align: center;
  }

  li.active-tab {
    background: #ddd;
    border-bottom: none;
    cursor: default;
    height: 36px;
    z-index: 20;
  }
}

.fs-main {
  justify-content: center;

  section.skill-setup {
    flex-grow: 2;
    max-width: 810px;

    div[class^="col-"] {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  section.skill-search {
    flex-grow: 1;
    max-width: 320px;
  }

  @media (max-width: 960px) {
    flex-direction: column;

    section.skill-search,
    section.skill-setup {
      width: 100%;
      margin: auto;
    }
    section.skill-search {
      margin: 2rem auto;
    }
  }
}

.fs-btn-container {
  button {
    margin: 0 1em;
  }
}

section.skill-setup {
  @include lg-form(15px);

  label.col-form-label {
    text-align: right;
  }

  textarea {
    resize: none;
    overflow: auto;
  }

  .skill-related-section {
    margin: 0 0 24px;

    div.row {
      margin: 8px;
    }
    h2 {
      margin-bottom: 4px;
    }

    h2 + p {
      text-align: center;
      padding-top: 0;
      margin-bottom: 20px;
    }
    .related-list {
      padding: 1em 1em 3em;
      margin-top: 0;
      border: 1px solid #888;
    }

    .related-row {
      margin: 0;

      input {
        margin: 0 4px;
      }
    }
  }
}

.fs-btn-container {
  margin: 20px 0 0 0;
}
